{
  "extends": "airbnb",
  "rules": {
    "no-useless-call": "error",
    "react/jsx-filename-extension": "off",
    "comma-dangle": ["error", "never"],
    "no-multiple-empty-lines": ["error", { max: 1, maxEOF: 1 }]
  },
  "globals": {
    "fetch": false
  }
}
